extends layout

block content
  script(src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js")
  
  h1.title(style='font-size:3em;margin-bottom:4vh;')= title
  .container-fluid
    .row
      .col.md-12.col-sm-18
        div#historyEchartBox
      //- .col.md-12.col-sm-18
      //-   div#humiHistoryEchartBox
    .row
      .col-md-12.col-sm-18
        .block
          img.block-img(src="/images/jump.png", alt="")
          .content
            .text
              //- p.title ◡----->：
              button#to-deviceIndex.btn.btn-success.btn-lg(type="button") 设备数据
            .text
              p.title ------未完待续-------
            .text
              p.title ------未完待续-------
    script(src="/javascripts/historyIndex.js")
    


 