extends layout

block content
  script(src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js")

  h1.title(style='font-size:3em;margin-bottom:4vh;')= title
  .container-fluid
    .row
      .col-md-4.col-sm-6
        .block
          img.block-img(src="/images/light.png", alt="")
          .content
            .text
              p.title 灯一：
              p.light1(style='color:white') 未知
            .text
              p.title 灯二：
              p(style='color:white') 未知
            .text
              p.title 灯三：
              p(style='color:white') 未知
      .col-md-4.col-sm-6
        .block
          img.block-img(src="/images/temp.png", alt="")
          .content
            .text
              p.title 最低：
              p.MinTemp(style='color:white') 22 
              p(style='color:white') ℃
            .text
              p.title 最高：
              p.MaxTemp(style='color:white') 27 
              p(style='color:white') ℃
            .text
              p.title 平均：
              p.AvgTemp(style='color:white') 25 
              p(style='color:white') ℃
      .col-md-4.col-sm-6
        .block
          img.block-img(src="/images/humi.png", alt="")
          .content
            .text
              p.title 最低：
              p.MinHumi(style='color:white') 22 
              p(style='color:white') %rh
            .text
              p.title 最高：
              p.MaxHumi(style='color:white') 27 
              p(style='color:white') %rh
            .text
              p.title 平均：
              p.AvgHumi(style='color:white') 25 
              p(style='color:white') %rh
      .col-md-4.col-sm-6
        .block
          img.block-img(src="/images/option.png", alt="")
          .content
            .text
              p.title ◡灯泡：
              button#led-open.btn.btn-success.btn-lg(type="button") 开启
              button#led-close.btn.btn-warning.btn-lg(type="button") 关闭
            .text
              p.title 继电器：
              button#relay-option.btn.btn-success.btn-lg(type="button") 开启
              button#relay-option.btn.btn-warning.btn-lg(type="button") 关闭
            .text
              p.title ◡门禁：
              button.btn.btn-success.btn-lg(type="button") 开启
              button.btn.btn-warning.btn-lg(type="button") 关闭
      .col.md-8.col-sm-8
        div#tempEchartBox
    .row
      .col-md-4.col-sm-6
        .block
          img.block-img(src="/images/jump.png", alt="")
          .content
            .text
              p.title ◡----->：
              button#to-historyIndex.btn.btn-success.btn-lg(type="button") 历史数据
            .text
              p.title ------未完待续-------
            .text
              p.title ------未完待续-------
      .col.md-8.col-sm-8
        div#humiEchartBox
      script(src="/javascripts/myDevIndex.js")
    


 