doctype html
html
  head
    title= "MyIotSys"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    link(href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css", rel='stylesheet')
    script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    //- script(src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js")
    //- script(src="javascripts/require.js")
  body
    block content
